// _variables.css

// colors
$link-color: #49494b;
$link-hover-color: #5694ba;
$link-active-color: #27536e;

$l-blue-accent: $link-hover-color;
$d-blue-accent: $link-active-color;

$background-color: #efefef;

// screen-sizes

// other