/* Stylesheet - Universal Styles */

/************************/
/* 		 Defaults		*/
/************************/
body, html{
	margin: 0;
	padding: 0;
}
/** Fonts **/
	@font-face{
		font-family: Geometria;
		src: url('../fonts/Geometria-Light.otf');
	}
	@font-face{
		font-family: Ostrich R;
		src: url('../fonts/Ostrich Regular.ttf');
	}
	@font-face{
		font-family: Open Sans L;
		src: url('../fonts/OpenSans-Light.ttf');
	}
	@font-face{
		font-family: Open Sans R;
		src: url('../fonts/OpenSans-Regular.ttf');
	}
	@font-face{
		font-family: Open Sans SB;
		src: url('../fonts/OpenSans-Semibold.ttf');
	}
	@font-face{
		font-family: Montserrat;
		src: url('../fonts/Montserrat-Regular.otf');
	}
	@font-face{
		font-family: Montserrat L;
		src: url('../fonts/Montserrat-Light.otf');
	}

/** Link Styles **/
	a{
		color: #49494B;
		text-decoration: none;
	}
		nav h3 a:hover{
			color: #5694BA !important;
		}
		a:active{
			color: #27536E;
		}
		nav h3 a:hover{
			/*border-bottom: 2px solid #5694BA;*/
		}

/** Text Styles **/
	h1 {
		font-size: 28px;
	}
	h3 {
		font-size: 14px;
	}
	h3, h4, h5, h6 {
		font-family: Open Sans SB;
		text-transform: uppercase;
	}
	p, ul, ol, span{
		font-family: Open Sans L;
		font-size: 16px;
	}

/** Layout Styles **/
	nav{
		width: 100%;
		height: 60px;
		position: fixed;
		padding-top: 10px;
		background-color: #27536e;
		z-index: 9;
		background-clip: padding-box;
	  	display: flex;
  		flex-direction: column;
  		justify-content: center;
  		-webkit-transition: background-color 0.25s ease-in-out;
  		-o-transition: background-color 0.25s ease-in-out;
  		transition: background-color 0.25s ease-in-out;
	}
		nav a{
			padding: 5px;
			color: white;
		}
	section{
		width: 100%;
		height: auto;
		top: 70px;
		padding-top: 30px;
		padding-bottom: 50px;
		position: relative;
		/*top: 50px;*/
	}

/************************/
/* 	  Useful Classes	*/
/************************/
.inline{
	display: inline;
}
.title{
	font-family: Montserrat;
	font-size: 54px;
}
.subtitle{
	font-family: Montserrat L;
	font-size: 32px;
}
.subsubtitle{
	font-family: Geometria;
	font-size: 18px;
}
.selected{
	color: #5694BA !important; 
	border-bottom: 2px solid #5694BA;
}
/************************/
/* 	    Navigation		*/
/************************/
#menu-icon{
	cursor: pointer;
}
.expand{
	display: none;
	width: 100%;
	margin-left: 0px;
	position: fixed;
	border-top: 2px solid #EFEFEF;
	top: 50px;
	left: 0px;
	z-index: 10;
}
	.expand > a{
		width: 100%;
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		display: block;
		background-color: #FFFFFF;
	}
	.expand > a:hover {
		background-color: #EFEFEF;
	}

/************************/
/* 	   Illustration		*/
/************************/
#drwg{
	width: 100%;
	position: fixed;
	background: url("../images/cover.svg") no-repeat center center;
	background-size: cover;
	transition: 0s ease;
    transition-property: background-position;
	z-index: -100;
	transform: translate3d(0px, 0px, 0px);
}
#drwg-overlay{
	position: relative;
	top: 60px;
}
.overlay{
	position: relative;
	display: block;
}
@media (min-width: 1000px){
	#o1{
		top: 180px;
		left: 50%;
		margin-left: -510px;
	}
	#o2{
		top: -120px;
		left: 50%;
		margin-left: -440px;
	}
	#o3{
		top: -220px;
		left: 50%;
		margin-left: 180px;
	}
	#o4{
		top: -280px;
		left: 50%;
		margin-left: 380px;
	}
}
@media (max-width: 1000px) and (min-width: 720px){
	#o1{
		display: none;
	}
	#o2{
		top: 60px;
		left: 50%;
		margin-left: -440px;
	}
	#o3{
		top: -40px;
		left: 50%;
		margin-left: 180px;
	}
	#o4{
		display: none;
	}
}
@media (max-width: 720px){
	#o1{
		display: none;
	}
	#o2{
		display: none;
	}
	#o3{
		display: none;
	}
	#o4{
		display: none;
	}
}

/************************/
/* 		 Sections		*/
/************************/
/** About Section **/
#hello{
	background-color: #FFFFFF;
	top: 50px;
}
	#hello-title{
		width: 200px;
		margin: 0 auto;
		padding: 10px;
		/*background-color: rgba(45, 49, 66, 0.1);*/
		text-align: center;
		color: #2D3142;
	}
	#hello-text{
		width: 60%;
		margin: 0 auto;
		color: #2D3142;
	}
	#hello p{
		font-family: Open Sans R;
		font-size: 18px;
		text-align: justify;
	}
	b{
		color: #27536E;
	}
	/*#hello p:first-of-type{
		text-align: center;
	}*/

/** Love Section **/
#love{
	background-color: #D2D2D7;
	top: 50px;
}
	#love-title, .work-title{
		width: 500px;
		text-align: center;
		margin: 0 auto;
	}
	.flex{
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
		.love-box{
			width: 300px;
			height: auto;
			margin-top: 30px;
			padding/*: 0px 10px;*/
			position: relative;
			background-color: #FFFFFF;
			text-align: center;
			margin-left: 20px;
			margin-right: 20px;
		}
		#love-code{
			/*background-image: url('../images/love-code.svg')*/
		}
		#love-design{

		}
		#love-photo{

		}
			.caption-text p{
				font-size: 12px;
			}
			.caption-text span{
				font-family: Open Sans R; 
				font-size: 12px;
			}
			.love-img, .work-img{
				-webkit-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}
			.caption{
				position: absolute;
				top: 100px;
				background-color: #FFFFFF;
				-webkit-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}
				.caption-title{
					width: 260px;
					height: auto;
					padding: 10px;
					font-family: Open Sans SB;
					font-size: 14px;
					text-align: center;
					display: inline-block;
				}
/*		.hover:hover > .love-img{
			-webkit-filter: grayscale(80%);
		}
		.hover:hover > .caption{
			top: 180px;
			background-color: #49494B;
			color: #FFFFFF;
		}
		.box-a > a{
			color: #000;
		}*/

/** Work Section **/
#resume{
	background-color: #A7A7A7;
}
#resume:hover{
	color: #000000;
	background-color: #5694BA;
	opacity: 1.0;
}
#work{
	background-color: #B4B4B4;
}
.work-box{
	width: 410px;
	height: auto;
	margin: 30px;
	padding: 10px;
	position: relative;
	text-align: center;
	background-color: #FFFFFF;
}
	.work-subtitle{
		width: 250px;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
	}
	.work-img{
		width: 99%;
		height: calc(5/8 * 99%);
		border: 2px solid #B4B4B4;
		display: block;
		margin: auto;
	}
	.work-img:hover{
		-webkit-filter: grayscale(80%);
	}



/************************/
/* 		  Footer 		*/
/************************/
footer{
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFFFFF;
	top: 50px;
}
	.end{
		font-family: Geometria;
		font-size: 14px;
		opacity: 0.6;
	}
	footer>a{
		float: right;
		position: relative;
		bottom: 3px;
		margin-right: 15px;
		-webkit-filter: grayscale(100%);
		opacity: 0.6;
	}
	footer>a:first-of-type{
		margin-right: 3%;
	}
	footer>a:hover{
		-webkit-filter: grayscale(0%);
		opacity: 1;
	}



