/* Stylesheet -- Mobile Viewport */

#menu{
	position: relative;
	margin-left: 5%;
}
	.home{
		position: relative;
		top: 3px;
	}
	.menu-item{
		display: none;
	}
	#menu-icon{
		position: relative;
		top: 6px;
		float: right;
		margin-right: 5%;
	}
		