/* Stylesheet -- Mobile Viewport */

/** Navigation **/
#menu{
	position: relative;
	margin-left: 5%;
}
	.home{
		position: relative;
		top: 3px;
	}
	.menu-item{
		display: none;
	}
	#menu-icon{
		position: relative;
		top: 3px;
		float: right;
		margin-right: 5%;
	}

/** Illustration **/
#drwg{
	height: 300px;
}

/** Bio Section **/
#bio-title{
	margin: 0 auto;
}
.icon{
	margin: 0 auto;
	display: block;
}

/** Love Section **/
.love-img{
	opacity: 0.8;
}

/** Footer **/
footer > span, footer > p{
	margin: 0 auto;
}

