/* Stylesheet -- Normal Viewport */
/************************/
/* 		Navigation		*/
/************************/
#menu{
	position: relative;
	vertical-align: middle;
	margin-left: 5%;
	bottom: 5px;
}
#menu-home{
	position: relative;
	top: 8px;
}
.menu-item{
	float: right;
	margin-right: 5%;
}
#menu-icon{
	display: none;
}

/************************/
/* 		   Body 		*/
/************************/
.section{
	width: 100%;
	height: 500px;
	position: relative;
	top: 50px;
}
#drwg{
	max-width: 100%;
	height: 500px;
	position: relative;
	top: 50px;
	background: url("static/images/cover.svg") no-repeat center center;
	background-size: cover;
}
#drwg-overlay{
	position: absolute;
	height: 500px;
	width: 100%;
	background: url("static/images/cover-overlay.svg") no-repeat center center;
	background-size: cover;
}
#design{
	background-color: #A14A4A;
	position: relative;
}
	.section-img{
		width: 20%;
		position: absolute;
		left: 5%;
		bottom: 0px;
	}

#develop{
	background-color: #597586;
}