/* Stylesheet -- Normal Viewport */

/************************/
/* 		Navigation		*/
/************************/
#menu{
	position: relative;
	bottom: 5px;
	margin-left: 5%;
	vertical-align: middle;
}
#menu-home{
	position: relative;
	top: 8px;
}
.menu-item{
	margin-right: 5%;
	float: right;
}
#menu-icon{
	display: none;
}

/************************/
/* 		 Sections 		*/
/************************/
/** Illustration **/
#drwg{
	height: 450px;
}

/** Bio Section **/
#bio-title{
	margin-left: 5%;
}
.icon{
	display: inline-block;
}

/** Love Section **/
.caption{
	opacity: 0.0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.love-img{
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.love-box:hover > .love-img{
	-webkit-filter: grayscale(80%);
}
.love-box:hover > .caption{
	opacity: 1;
}

/** Footer **/
footer > span, footer > p{
	margin-left: 5%;
}
