/* Stylesheet -- Normal Viewport */

/************************/
/* 		Navigation		*/
/************************/
#menu{
	position: relative;
	bottom: 5px;
	margin-left: 5%;
	vertical-align: middle;
}
#menu-home{
	position: relative;
	top: 8px;
}
.menu-item{
	margin-right: 5%;
	float: right;
}
#menu-icon{
	display: none;
}

/************************/
/* 		 Sections 		*/
/************************/

/** Illustration **/
#drwg{
	width: 100%;
	height: 500px;
	position: relative;
	top: 50px;

	background: url("static/images/cover.svg") no-repeat center center;
	background-size: cover;
}
.overlay{
	position: relative;
	display: block;
}
@media (min-width: 1000px){
	#o1{
		top: 180px;
		left: 50%;
		margin-left: -510px;
	}
	#o2{
		top: -120px;
		left: 50%;
		margin-left: -440px;
	}
	#o3{
		top: -220px;
		left: 50%;
		margin-left: 180px;
	}
	#o4{
		top: -280px;
		left: 50%;
		margin-left: 380px;
	}
}
@media (max-width: 1000px){
	#o1{
		display: none;
	}
	#o2{
		top: 60px;
		left: 50%;
		margin-left: -440px;
	}
	#o3{
		top: -40px;
		left: 50%;
		margin-left: 180px;
	}
	#o4{
		display: none;
	}
}

/* Bio Section */
#bio{
	width: 100%;
	height: auto;
	top: 50px;
	position: relative;
	background-color: #49494B;
	padding-top: 30px;
	padding-bottom: 30px;
}
	#bio-title{
		width: 200px;
		height: auto;
		padding: 10px;
		margin-left: 5%;

		background-color: #58585B;

		text-align: center;
		color: #FFFFFF;
	}
	#bio-text{
		width: 90%;
		margin-left: 5%;

		text-align: justify;
		color: #E6E7E8;
	}
		#bio-text a{
			color: #E6E7E8;
		}
	.icon{
		width: auto;
		height: auto;
		padding: 10px 20px 10px 20px;
		margin-top: 10px;
		display: inline-block;
		text-align: center;
		font-size: 14px;
	}
		.school{
			background-color: #A14A4A;
		}
		.class{
			margin-left: 5px;
			background-color: #27536E;
		}
		.major{
			margin-left: 5px;
			background-color: #287A85;
		}
		.resume{
			background-color: #58585B;
		}
		/*.school::before{
			content: '';
			position: absolute;
			width: 4em;
			height: 4em;
			top: 163px;
			left: 5%;
			background: url("static/images/icon-college.svg");
			background-size: cover;
		}*/

/** Love Section **/
#love{
	background-color: #DEDEE4;
	position: relative;
}
	#love-title{
		width: 250px;
		text-align: center;
		padding-top: 30px;
		margin: 0 auto;
	}
.love-box{
	width: 280px;
	height: auto;
	margin-top: 20px;
	padding: 10px;
	position: relative;
	float: left;
	background-color: #FFFFFF;
	text-align: center;
}
.love-text{
	text-align: center;
}
#love-design{
	left: 50%;
	margin-left: -150px;
}
#love-code{
	left: 50%;
	margin-left: -620px;
}
#love-photo{
	left: 50%;
	margin-left: 20px;
}
.caption{
	position: absolute;
	top: 20px;
	left: 10%;
}

