/* Based on tutorial: http://keithclark.co.uk/articles/pure-css-parallax-websites/ */
nav{
	z-index: 10;
}

.parallax{
	perspective: 1px;
	-webkit-perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax-group{
	position: relative;
	height: 100vh;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.layer{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.base{
	transform: translateZ(-20px) scale(21);
	-webkit-transform: translateZ(-20px) scale(21);
	background: url("static/images/cover.jpg") no-repeat center center;
	z-index: 4;
}
.slow{
	transform: translateZ(-2px) scale(3);
	-webkit-transform: translateZ(-2px) scale(3);
	background-color: #3075a5;
	z-index: -1;
}
.slower{
	transform: translateZ(-3px) scale(4);
	-webkit-transform: translateZ(-3px) scale(4);
	background-color: #6bb141;
	z-index: 2;
}