/* Based on tutorial: http://keithclark.co.uk/articles/pure-css-parallax-websites/ */
.parallax{
	perspective: 300px;
	-webkit-perspective: 300px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax-group{
	position: relative;
	height: 500px;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.layer{
	position: absolute;
	/*height: 500px;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.base{
	transform: translateZ(0px);
	-webkit-transform: translateZ(0px);
}
.fast{
	transform: translateZ(90px) scale(.7);
	-webkit-transform: translateZ(90px) scale(.7);
}
.faster{
	transform: translateZ(180px) scale(.4);
	-webkit-transform: translateZ(180px) scale(.4);
}
.slow{
	transform: translateZ(-300px) scale(2);
	-webkit-transform: translateZ(-300px) scale(2);
}
.slower{
	transform: translateZ(-6px) scale(3);
	-webkit-transform: translateZ(-6px) scale(3);
}


