/* Based on tutorial: http://keithclark.co.uk/articles/pure-css-parallax-websites/ */

.parallax{
	perspective: 1px;
	-webkit-perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax-group{
	position: relative;
	height: 50vh;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	/*transform: translate3d(700px, 0, -800px) rotateY(30deg);
	-webkit-transform: translate3d(700px, 0, -800px) rotateY(30deg);*/
}

.layer{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.base{
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}
.back{
	transform: translateZ(-10px) scale(11);
	-webkit-transform: translateZ(-1px) scale(11);
}
.fore{
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}
#sec-0{
	z-index: -2;
}
#sec-1{
	z-index: -3;
}
#sec-2{
	z-index: -1;
}
#sec-0 .base{
	background: url("static/images/cover.jpg") no-repeat center center;
}
#sec-1 .back{
	background-color: #3075a5;
}
#sec-2 .fore{
	background-color: #6bb141;
}