/************************/
/* 		 Defaults		*/
/************************/

/** Fonts **/
@font-face{
	font-family: Arvo;
	src: url('static/fonts/Arvo-Regular.ttf');
}
@font-face{
	font-family: Ostrich R;
	src: url('static/fonts/Ostrich Regular.ttf');
}
@font-face{
	font-family: Ostrich B;
	src: url('static/fonts/Ostrich Black.ttf');
}
@font-face{
	font-family: Open Sans L;
	src: url('static/fonts/OpenSans-Light.ttf');
}
@font-face{
	font-family: Open Sans R;
	src: url('static/fonts/OpenSans-Regular.ttf');
}
/** Shortcuts **/
.inline{
	display: inline;
}

/** Links **/
a{
	color: #ffffff;
	text-decoration: none;
}
	a:hover{
		color: #61a099;
	}
	a:active{
		color: #397e88;
	}

/** Headers **/
h1 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h1, h2 {
	font-family: Arvo;
}
h3, h4, h5, h6 {
	font-family: Ostrich R;
}

/************************/
/* 		Navigation		*/
/************************/
nav{
		width: 100%;
		height: 50px;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 10;
	}
@media (min-width: 720px) {
	#menu{
			position: relative;
			vertical-align: middle;
			margin-left: 5%;
			bottom: 10px;
		}
		.home{
			position: relative;
			top: 16px;
		}
		.menu-item{
			float: right;
			margin-right: 5%;
		}
		#menu-icon{
			display: none;
		}
}
@media (max-width: 720px) {
	#menu{
		text-align: center;
		margin-top: 5px;
	}
		.home{
			top: 16px;
		}
			.home::after{

			}
		.menu-item{
			display: none;
		}
		#menu-icon{
		}
}

/************************/
/* 		   Body 		*/
/************************/
#sec-2{
	z-index: -10;
}
#sec-3{
	background-color: #000000;
}
.sec-img{
	background: url("static/images/cover.jpg") no-repeat center center;
}
.sec-text{
	width: 180px;
	height: 100px;
	position: relative;
	top: 200px;
	left: 5%;
}
.test{
	width: 100%;
	height: 500px;
	background-color: rgba(0,0,0,0.3);
	position: relative;
	top: 254px;
}
.test2{
	background-color: #ffffff;

}



