/* Stylesheet - Universal Styles */

/************************/
/* 		 Defaults		*/
/************************/
body, html{
	margin: 0;
	padding: 0;
}
/** Fonts **/
@font-face{
	font-family: Geometria;
	src: url('../fonts/Geometria-Light.otf');
}
@font-face{
	font-family: Ostrich R;
	src: url('../fonts/Ostrich Regular.ttf');
}
@font-face{
	font-family: Open Sans L;
	src: url('../fonts/OpenSans-Light.ttf');
}
@font-face{
	font-family: Open Sans R;
	src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
	font-family: Open Sans SB;
	src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face{
	font-family: Montserrat;
	src: url('../fonts/Montserrat-Regular.otf');
}
@font-face{
	font-family: Montserrat L;
	src: url('../fonts/Montserrat-Light.otf');
}

/** Link Styles **/
a{
	color: #49494B;
	text-decoration: none;
}
	a:hover{
		color: #5694BA;
	}
	a:active{
		color: #27536E;
	}

/** Text Styles **/
h1 {
	font-size: 28px;
}
h3 {
	font-size: 18px;
}
h1, h2 {
	font-family: Geometria;
}
h3, h4, h5, h6 {
	font-family: Ostrich R;
}
p, ul, ol, span{
	font-family: Open Sans L;
	font-size: 16px;
}

/** Layout Styles **/
nav{
		width: 100%;
		height: 50px;
		padding-top: 10px;
		position: fixed;
		background-color: #ffffff;
		z-index: 9;
	}
section{
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 40px;
	position: relative;
	top: 50px;
}

/************************/
/* 	  Useful Classes	*/
/************************/
.inline{
	display: inline;
}
.title{
	font-family: Montserrat;
	font-size: 21px;
}
.subtitle{
	font-family: Montserrat L;
	font-size: 21px;
}
.subsubtitle{
	font-family: Geometria;
	font-size: 18px;
}

/************************/
/* 	    Navigation		*/
/************************/
#menu-icon{
	cursor: pointer;
}
.expand{
	display: none;
	width: 100%;
	margin-left: 0px;
	position: fixed;
	border-top: 2px solid #EFEFEF;
	top: 50px;
	left: 0px;
	z-index: 10;
}
	.expand > a{
		width: 100%;
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		display: block;
		background-color: #FFFFFF;
	}
	.expand > a:hover {
		background-color: #EFEFEF;
	}

/************************/
/* 	   Illustration		*/
/************************/
#drwg{
	width: 100%;
	position: relative;
	top: 50px;

	background: url("../images/cover.svg") no-repeat center center;
	background-size: cover;
}
.overlay{
	position: relative;
	display: block;
}
@media (min-width: 1000px){
	#o1{
		top: 180px;
		left: 50%;
		margin-left: -510px;
	}
	#o2{
		top: -120px;
		left: 50%;
		margin-left: -440px;
	}
	#o3{
		top: -220px;
		left: 50%;
		margin-left: 180px;
	}
	#o4{
		top: -280px;
		left: 50%;
		margin-left: 380px;
	}
}
@media (max-width: 1000px) and (min-width: 720px){
	#o1{
		display: none;
	}
	#o2{
		top: 60px;
		left: 50%;
		margin-left: -440px;
	}
	#o3{
		top: -40px;
		left: 50%;
		margin-left: 180px;
	}
	#o4{
		display: none;
	}
}
@media (max-width: 720px){
	#o1{
		display: none;
	}
	#o2{
		display: none;
	}
	#o3{
		display: none;
	}
	#o4{
		display: none;
	}
}

/************************/
/* 		 Sections		*/
/************************/
/** Bio Section **/
#bio{
	background-color: #49494B;
}
	#bio-title{
		width: 200px;
		height: auto;
		padding: 10px;
		background-color: #58585B;
		text-align: center;
		color: #FFFFFF;
	}
	#bio-text{
		width: 90%;
		margin-left: 5%;
		text-align: justify;
		color: #E6E7E8;
	}
		.icon{
			width: auto;
			height: auto;
			padding: 10px 20px 10px 20px;
			margin-top: 10px;
			text-align: center;
			font-size: 14px;
		}
			.school{
				background-color: #A14A4A;
			}
			.class{
				margin-left: 5px;
				background-color: #27536E;
			}
			.major{
				margin-left: 5px;
				background-color: #287A85;
			}

/** Love Section **/
#love{
	background-color: #A7A7A7;
}
	#love-title, .work-title{
		width: 300px;
		text-align: center;
		margin: 0 auto;
	}
	.flex{
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
		.love-box{
			width: 280px;
			height: auto;
			margin-top: 30px;
			padding: 10px;
			position: relative;
			background-color: #FFFFFF;
			text-align: center;
			margin-left: 20px;
			margin-right: 20px;
		}
		.caption-text p{
			font-size: 12px;
		}
		.caption-text span{
			font-family: Open Sans R; 
			font-size: 12px;
		}
		.love-img{
			-webkit-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
		.caption{
			position: absolute;
			top: 100px;
			-webkit-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
			.caption-title{
				width: 260px;
				height: auto;
				padding: 10px;
				font-family: Open Sans SB;
				font-size: 14px;
				text-align: center;
				background-color: #FFFFFF;
				display: inline-block;
			}
		.hover:hover > .love-img{
			-webkit-filter: grayscale(80%);
		}
		.hover:hover > .caption{
			top: 180px;
		}
		.box-a > a{
			color: #000;
		}

/** Work Section **/
#work{
	background-color: #CCCCCC;
}
.work-box{
	width: 410px;
	height: auto;
	margin: 30px;
	padding: 10px;
	position: relative;
	text-align: center;
	background-color: #FFFFFF;
}
	.work-subtitle{
		width: 250px;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
	}
	.work-img{
		border: 2px solid #CCCCCC;
		display: block;
		margin: auto;
	}



/************************/
/* 		  Footer 		*/
/************************/
footer{
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	top: 50px;
	background-color: #FFFFFF;
}
	.end{
		font-family: Geometria;
		font-size: 14px;
		opacity: 0.6;
	}
	footer>a{
		float: right;
		position: relative;
		bottom: 3px;
		margin-right: 15px;
		-webkit-filter: grayscale(100%);
		opacity: 0.6;
	}
	footer>a:first-of-type{
		margin-right: 5%;
	}
	footer>a:hover{
		-webkit-filter: grayscale(0%);
		opacity: 1;
	}



