// colors

$color-dark-blue: #26335D;
$color-lighter-purple: #C8CAE4;
$color-light-purple: #9395B4;
$color-light-blue: #E7EDF2;
$color-light-grey: #D3D5D4;
$color-dark-grey: #C3C3C3;
$color-darker-grey: #282828;