/** Header **/
#header {
	width: 100%;
	height: 75px;
	margin: 0px;
	padding: 5px;

	background-color: #e0e9f8;
}

#header h2, #user-menu h2 {
	display: none;
}

#header ul, #user-menu ul {
	list-style-type: none !important;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-right: 3%;
	float: right;

	position: relative;
	bottom: 40px;
}

#header li, #user-menu li {
	display: inline;
}

#logo img{
	width: 350px;
	position: relative;
	top: 10px;
}

#name-and-slogan {
	display: none;
}

#block-user-login{

}

/** Content **/
